* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cont {
  height: 690px;
  background: url("/Assets/Hospital-img/bg.jpg") no-repeat  left/cover;
  display: grid;
  align-items: center;
}


.cont-content {
  max-width: auto;
}

.cont h1 {
  font-size: 50px;
  margin: 10px 0;
}

.small {
  font-size: 18px;
  font-style: italic;
}

.desc {
  color: #666;
  margin-bottom: 20px;
}



`

